.clining_plate {
    background-color: rgb(114, 173, 249);
    width: 100%;
    min-width: 320px;
    padding: 2% 3% 0.5% 3%;
}

.clining_plate__example__img {
    margin: auto;
    object-fit: cover;
    height: 50px;
    width: 50px;
}

.clining_plate__toper_description {
    height: auto;
    padding-top: 1%;
    font-size: 19px;
}

.clining_plate__lower_description {
    height: auto;
    padding-top: 1%;
    font-size: 17px;
}

.clining_plate__example__text {
    height: auto;
    padding-top: 1%;
    font-size: 17px;
    text-align: center;
}

.clining_plate__example {

    display: grid;
  grid-template-rows: auto 1fr; 
  align-items: center; 
  gap: 10px;





    min-height: 130px;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    background-color: rgb(133, 184, 250);
    padding: 3%;
}



.clining_plate {
    background-position: center;
    background-size: cover;
    display: block;
    min-width: 320px;
}

.clining_plate__examples{
    
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 11px;
    grid-template-columns: 1fr 1fr;
}

@media (min-width: 568px) {
    .sponsors_contant {
        display: block;
    }

    .clining_plate__example__text {
        font-size: 17px;
    }
    

    /* .clining_plate__examples{
        grid-template-columns: 1fr 1fr;
    } */
    .clining_plate__example__img {
        height: 100px;
        width: 100px;
    }
} 

@media (min-width: 800px) {
    .clining_plate__example__img {
        height: 130px;
        width: 130px;
    }
    /* .clining_plate {
        padding-top: 100px;
        height: 1000px;
    } */

    .sponsors_contant {
        display: flex;
    }

    .sponsors__text {
        padding-right: 20px;
    }

    .clining_plate__examples {
        grid-template-columns: 1fr 1fr 1fr;
    }
}