
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* background-color: #a2ebff; */
}

:root {

}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}